html {
    font-size: 12px;
    color: rgb(0, 0, 0, 1);
    background-image: url("field.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 100px;
    text-align: center;
    opacity: 1;
}

.footer {
    width: 256px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-color: white;
}

.links {
    text-align: center;
    font-size: 48px;
}

form {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    margin: 100px;
}

.results {
    background-color: white;
    border: 1px solid black;
    margin: auto;
    width: 80%;
    text-align: center;
}

mark {
    background-color: rgb(255, 255, 255, 0.7);
}