/**
 * css that can help style the pie chart from the outside
 *
 * this stuff is not included in pie.js, because it changes based on the usage
 * of this Web Component
*/
pie-chart {
  /* to avoid Flash of Unstyled Content (FoUC)
    https://en.wikipedia.org/wiki/Flash_of_unstyled_content
    */
  visibility: hidden;

  /* want it to fill up as much of the parent div as it can */
  width: 100%;
}
