<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>College Football Stats</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
    </head>
    <body>
	<h1><mark>College Football Stats</mark></h1>

	<div class="links">
	    <mark>
		Error: <%- message %>
		<br>
		Please contact the site owner and check back later
	    </mark>
	</div>
	<br><br>
	<%- include("footer") %>
    </body>
</html>
