<footer><br>
<figure class="footer">
<a href="/"><img src="/media/band.avif" alt="band" class="band"></a>
<figcaption><a href="/">Home</a></figcaption>
</figure>

<p class="version"><mark>Last Updated:
<time datetime="2025-09-26">Sept. 26, 2025</time></mark></p>
</footer>
