<footer>
    <a href="/">
	<figure class="footer">
	    <figcaption><img src="./band.jpeg" alt="band" class="footer">
		Home
	    </figcaption>
	</figure>
    </a>
    <p class="version"><mark>Last Updated: Dec 9, 2024</mark></p>
</footer>
