<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>College Football Stats</title>
  <link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<body>
  <h1>College Football Stats</h1>
    
  <div class="links">
    <a href="/teamStats">Get stats for a team by year</a><br>

    <a href="/teamHistory">Get the history between two teams</a><br>

    <a href="/searchHistory">Get past searches</a><br><br>
  </div> 

  <footer>
    <a href="/"><img src="./band.jpeg" alt="band" class="footer"></a>
  </footer>

</body>
</html>
