<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>College Football Stats</title>
        <link rel="stylesheet" type="text/css" href="./style.css" />
    </head>

    <body>
        <h1><mark><%- team1 %> vs <%- team2 %></mark></h1>

        <div class ="results">
            <%- summary %>
            <%- data %>
        </div>
        <br>

        <footer>
            <a href="/"><img src="./band.jpeg" alt="band" class="footer"></a>
        </footer>
    </body>
</html>