<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Team Stats</title>
        <link rel="stylesheet" type="text/css" href="./style.css">
    </head>

    <body>
        <h1><mark>Get Stats by Team</mark></h1>

        <form method="post">
            Team: <input type="text" name="team" value="Maryland">
            Year: <input type="text" name="year" value="2024"><br>
            <input type="reset">
            <button type="submit">Get Team Stats</button>
        </form><br>

        <%- include("footer") %>
    </body>
</html>