<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>College Football Stats</title>
        <link rel="stylesheet" type="text/css" href="./style.css">
    </head>

    <body>
        <h1><mark>Get History Between Two Teams</mark></h1>

        <form method="post">
            <input type="text" name="team1" value="Maryland">
	    vs
	    <input type="text" name="team2" value="Virginia">
	    <br>
            <input type="reset">
            <button type="submit">Get History</button>
        </form>

        <%- include("footer") %>
    </body>
</html>
