<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Team Stats</title>
        <link rel="stylesheet" type="text/css" href="./style.css" />
    </head>

    <body>
        <h1><mark><%- team %> <%- year %> Stats</mark></h1>

        <div class="results">
        <%- stats %>
        </div>

        <footer>
            <a href="/"><img src="./band.jpeg" alt="band" class="footer"></a>
        </footer>
    </body>
</html>